@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hiding for sleek look */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}